body {
	margin: 0;
	border: 0;
	padding: 0;
}
.menu-title {
        font-size: large;
        font-weight: bold;
	margin-left: 10px;
	margin-bottom: 10px;
}
.menu-child-select {
	margin-left: 20px;
}
.menu-child-link {
	margin-left: 20px;
        text-decoration: underline;
        cursor: pointer;
}
.header {
	text-align: center; 
}
.title {
        font-weight: bold;
        font-size: 30px;
}
#header {
        top: 0px;
        left: 0px;
	height: 40px;
	width: 100%;
	background: #daa520;
}
#sidebar {
        position: absolute;
	top: 40px;
        bottom: 20px;
	left: 0px;
	width: 200px;
	background: #f0e68c;
}
#body {
       position: absolute;
       top: 40px;
       bottom: 20px;
       left: 200px;
       right: 0px;
       background: #ffffe0;
}
#footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
	height: 20px;
	width: 100%;
	background: #daa520;
}
.datepicker {
	display: inline-block;
}
